.negocio{
    margin-bottom: 5%;
    margin-top:5%;
    background-color: #E1CED4;
    width: 60%;

  }
  .servicio{
    background-color: #F0E7EA;
  }

  .mat-mini-fab {
    float:right;
    background-color: #8499B1;
    margin-right:5%;
    }