.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.negocio {
  margin: 2%;
  background-color: #e1ced4;
  width: 60%;
}
.servicio {
  background-color: #f0e7ea;
}
.reservas {
  margin: 1%;
}

.mat-mini-fab {
  float: right;
  background-color: #8499b1;
  margin-right: 5%;
}

.crearNegocio {
  margin: 2%;
  background-color: #e1ced4;
  width: 60%;
}

.time {
  margin-left: 10%;
  margin-top: 2%;
}

.inner-content {
  margin-left: 2%;
}
