.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
.negocio{
  width: 600px;
  margin: 5%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
}
.servicio {
  margin: 2%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
  
}
.reservas {
  margin: 2%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
  
}
.mat-card{
   background-color: #f2e6ee;
}
.mat-mini-fab {
  float: right;
  background-color: #8499b1;
  margin-right: 5%;
}
.crearNegocio{
  width: 600px;
  margin: 5%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
}

.time {
  margin-left: 10%;
  margin-top: 2%;
}

.card-header {
  background-color: #f2e6ee;
} 
.card-content {
  margin-top: 10px;
  background-color: #f2e6ee;
}
.mat-raised-button {
  background-color: #a3dcb9;
  bottom: 5%;
}
