.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.perfil {
  width: 600px;
  margin: 5%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
}

.card-header {
  background-color: #f2e6ee;
}

.card-content {
  background-color: #f2e6ee;
}

.mat-raised-button {
  background-color: #a3dcb9;
  bottom: 5%;
}

.mat-mini-fab {
  background-color: #8499b1;
  margin-right: 5%;
}
