<div fxLayout="column" fxLayoutAlign="center">
    <div fxLayoutAlign="space-around center" class="flex-container">
        <mat-card class="perfil" *ngIf=" (consumer$ | async) as consumer">
            <div class="card-header">
                <mat-card-header>
                    <button mat-mini-fab (click)="openOblivion()" matTooltip="Borrar mis datos">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-mini-fab (click)="openPorter()" matTooltip="Portar mis datos">
                        <mat-icon>get_app</mat-icon>
                    </button>
                    <img mat-card-avatar [src]="profilePic">
                    <mat-card-title>Usuario: {{consumer.user.username}}</mat-card-title>
                    <mat-card-subtitle>{{consumer.email}}</mat-card-subtitle>
                </mat-card-header>

            </div>
            <br>
            <div class="card-content">
                <mat-card-content>
                    <p><b>Nombre:</b> {{consumer.name}}</p>
                    <p><b>Apellidos:</b> {{consumer.lastname}}</p>
                    <p><b>DNI:</b> {{consumer.dni}}</p>
                    <p><b>Email:</b> {{consumer.email}}</p>
                </mat-card-content>
            </div>
            <div fxLayoutAlign="space-around center">
                <button mat-raised-button routerLink="/userProfile/{{consumer.id}}/edit">Editar perfil</button>
            </div>
        </mat-card>
    </div>
</div>
<router-outlet></router-outlet>