.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.negocio {
  width: 90%;
  min-height: 300px;
  margin: 5%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
}

.servicio {
  width: 300px;
  min-height: 300px;
  margin-top: 5%;
  margin-bottom: 1%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
}
.card-header {
  background-color: #f2e6ee;
}
.header {
  margin-left: 5%;
}
.card-content {
  margin-top: 10px;
  background-color: #f2e6ee;
}

.mat-mini-fab {
  float: right;
  background-color: #8499b1;
}
.mat-raised-button {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #a3dcb9;
  position: absolute;
  bottom: 5%;
}
