<div fxLayout="column" fxLayoutAlign="center">
  <div fxLayoutAlign="space-around center" class="flex-container">
    <mat-card class="register">
<form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="card-header">
      <mat-card-title>Registro</mat-card-title>
    </div>
    <div class="card-content">
      <mat-card-content>

        <div fxLayoutAlign="space-around center" class="flex-container">
        <mat-card class="register">
          <div class="card-header">
            <mat-card-subtitle>Datos personales</mat-card-subtitle>
          </div>
          <div class="card-content">
            <mat-card-content>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Nombre" formControlName="name">
  <mat-hint *ngIf="registerForm.controls.name.errors">El campo nombre es obligatorio</mat-hint>
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Apellido/s" formControlName="lastname">
  <mat-hint *ngIf="registerForm.controls.lastname.errors">El campo apellidos es obligatorio</mat-hint>
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="00000000A" formControlName="dni">
  <mat-hint *ngIf="registerForm.controls.dni.errors">El campo DNI es obligatorio. Debe tener 8 dígitos y 1 letra
  </mat-hint>
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="example@example.example" formControlName="email">
  <mat-hint *ngIf="registerForm.controls.email.errors">El campo email es obligatorio</mat-hint>
</mat-form-field>
            </mat-card-content>
            </div>

            </mat-card>
        </div>

        
<div fxLayoutAlign="space-around center" class="flex-container">
  <div formGroupName="user"></div>
    <mat-card class="register">
    <div class="card-header">
      <mat-card-subtitle>Datos de usuario</mat-card-subtitle>
    </div>
    <div class="card-content">
      <mat-card-content>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Contraseña" formControlName="password">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Repite contraseña" formControlName="confirmPassword">
  </mat-form-field>
      </mat-card-content>
    </div>
    </mat-card>
  </div>
<div>
  <mat-error *ngIf="registerForm.get('user.password').hasError('passwordInvalid')">La contraseña no
    contiene número</mat-error>
  <mat-error *ngIf=" registerForm.hasError('passwordsNotMatching')">Las contraseñas no
    coinciden</mat-error>
  <mat-error *ngIf="err">{{err}}</mat-error>
</div>

<div fxLayoutAlign="space-around center">
  <button mat-raised-button [disabled]="!registerForm.valid" type="submit">
    <mat-icon>emoji_people</mat-icon>Soy usuario
  </button>
  <button mat-raised-button [disabled]="!registerForm.valid" type="button" (click)="registerOwner()">
    <mat-icon>hail</mat-icon>Soy propietario
  </button>
</div>
      </mat-card-content>
    </div>
</form>
    </mat-card>
  </div>
</div>
  
 

