.header-image {
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.card {
  width: 60%;
  max-width: 80%;
  margin: 20px;
}

.titulo-pagina {
  background-color: #fcece3;
  font-size: 20px;
}
.mat-raised-button {
  background-color: #a3dcb9;
  margin: 10px;
}
.spacer {
  flex: 1 1 auto;
}
