<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="2%">
    <mat-card class="perfil" *ngIf=" (supplier$ | async) as supplier">
        <mat-card-header>
            <img mat-card-avatar src="./favicon.ico">
            <mat-card-title>Usuario: {{supplier.user.username}}</mat-card-title>
            <mat-card-subtitle>{{supplier.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><b>Nombre:</b> {{supplier.name}}</p>
            <p><b>Apellidos:</b> {{supplier.lastname}}</p>
            <p><b>DNI:</b> {{supplier.dni}}</p>
            <p><b>Email:</b> {{supplier.email}}</p>
            <p><b>Subscripción:</b> {{supplier.subscription}}</p>
            <button id="checkout" mat-raised-button color="primary" (click)="changeSubscription(supplier.subscription)">Cambiar Tarifa</button>

        </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>