<div style="height: 100hv;">
    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button routerLink="/home"><img src="./assets/favicon.png" style="width:2em;"></button>
            <button mat-button routerLink="/home">Bienvenido a BiCo</button>
            <span class="spacer"></span>

            <div fxShow="true" fxHide.lt-md="true">

                <button mat-raised-button routerLink="/supplier/1">
                    <mat-icon>account_circle</mat-icon>Propietario
                </button>
                <button mat-raised-button routerLink="/consumer/1">
                    <mat-icon>perm_identity</mat-icon>Usuario
                </button>
                <button mat-raised-button routerLink="/negocio/1">
                    <mat-icon>business</mat-icon>Negocio
                </button>
                <button mat-raised-button routerLink="/negocio-create">
                    <mat-icon>note_alt</mat-icon>Añadir negocio
                </button>
                <button mat-raised-button routerLink="/login">
                    <mat-icon>login</mat-icon>Iniciar sesión
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill [hasBackdrop]="true">
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a href="/supplier/1" mat-list-item>
                    <mat-icon>account_circle</mat-icon>Propietario
                </a>
                <a href="/consumer/1" mat-list-item>
                    <mat-icon>perm_identity</mat-icon>Usuario
                </a>
                <a href="/negocio/1" mat-list-item>
                    <mat-icon>business</mat-icon>Negocio
                </a>
                <a href="/negocio-create" mat-list-item>
                    <mat-icon>note_alt</mat-icon>Añadir negocio
                </a>
                <a href="/login" mat-list-item>
                    <mat-icon>login</mat-icon>Iniciar sesión
                </a>
                <a (click)="sidenav.toggle()" mat-list-item>
                    <mat-icon>close</mat-icon>Cerrar
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>