<mat-toolbar>
  <button mat-button routerLink="/home" class="home"><img  src="./assets/favicon.png"  style="width:40px;"></button>
  <button mat-button routerLink="/home" class="home" style="margin-left: 20px;">Bienvenido a BiCo</button>
  <span class="spacer"></span>
  <button mat-raised-button routerLink="/buscar">Buscar negocios</button>
  <button mat-raised-button routerLink="/consumer/1">Consumer Profile</button>
  <button mat-raised-button routerLink="/supplier/1">Supplier Profile</button>
  <button mat-raised-button routerLink="/negocio/1">Mis Negocios</button>
  <button mat-raised-button routerLink="/reservas">Mis Reservas</button>
  <button mat-raised-button routerLink="/login">Iniciar Sesión</button>
</mat-toolbar>
<router-outlet></router-outlet>
