  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true">
        <mat-icon>menu</mat-icon>
      </button>
      <div class = "home">
        <button mat-button routerLink="/home"><img src="./assets/favicon.png" style="width:2em;"></button>
        <button mat-button routerLink="/home">BiCo</button>
      </div>
     
      <span class="spacer"></span>

      <div fxShow="true" fxHide.lt-md="true">
        <button *ngIf="rol === 'user'" mat-mini-fab matTooltip="Buscar negocios o servicios" routerLink="/buscar">
          <mat-icon>search</mat-icon>
        </button>
        <button *ngIf="rol === 'owner'" mat-mini-fab  matTooltip="Mi perfil" routerLink="/ownerProfile">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button *ngIf="rol === 'user'"  mat-mini-fab  matTooltip="Mi perfil" routerLink="/userProfile">
          <mat-icon>perm_identity</mat-icon>
        </button>
        <button *ngIf="rol === 'owner'" mat-mini-fab  matTooltip="Añadir un negocio" routerLink="/negocio-create">
          <mat-icon>note_alt</mat-icon>
        </button>
        <button *ngIf="rol === 'user'" mat-mini-fab  matTooltip="Ver mis reservas"routerLink="/reservas">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button *ngIf="rol === 'owner'" mat-mini-fab  matTooltip="Ver mis negocios" routerLink="/mis-negocios">
          <mat-icon>business</mat-icon>
        </button>
        <button *ngIf="rol === null" mat-mini-fab   matTooltip="Inicio sesión" routerLink="/login">
          <mat-icon>login</mat-icon>
        </button>
        <button *ngIf="rol === null"mat-mini-fab matTooltip="Registro" routerLink="/register">
          <mat-icon>person_add_alt_1</mat-icon> 
        </button>
        <button *ngIf="rol != null" mat-mini-fab  matTooltip="Cerrar sesión" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill [hasBackdrop]="true" style="position: absolute;" >
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>

        <a *ngIf="rol === 'user'" mat-list-item href="/buscar">
          <mat-icon>search</mat-icon>Buscar negocios
        </a>
        <a *ngIf="rol === 'owner'" mat-list-item href="/ownerProfile">
          <mat-icon>account_circle</mat-icon>Mi Perfil
        </a>
        <a *ngIf="rol === 'user'" mat-list-item href="/userProfile">
          <mat-icon>perm_identity</mat-icon>Mi Perfil
        </a>
        <a *ngIf="rol === 'owner'" mat-list-item href="/negocio-create">
          <mat-icon>note_alt</mat-icon>Añadir negocio
        </a>
        <a *ngIf="rol === 'owner'" mat-list-item routerLink="/mis-negocios">
          <mat-icon>business</mat-icon>Mis negocios
        </a>
        <a *ngIf="rol === 'user'" mat-list-item href="/reservas">
          <mat-icon>calendar_today</mat-icon>Mis reservas
        </a>
        <a *ngIf="rol === null" mat-list-item href="/login">
          <mat-icon>login</mat-icon> Inicio sesión
        </a>
        <a *ngIf="rol === null" mat-list-item href="/register">
          <mat-icon>person_add_alt_1</mat-icon> Registro
        </a>
        <a *ngIf="rol != null" mat-list-item (click)="logout()">
          <mat-icon>logout</mat-icon> Cerrar sesión
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Cerrar
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <footer>
          <div class="footer">
            <mat-toolbar>
              <button mat-button routerLink="/home"><img src="./assets/favicon.png" style="width:2em;"></button>
              <button mat-button routerLink="/home">BiCo</button>
            </mat-toolbar>
          </div>
        </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

