.spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background-color: #fd7487;
  position: sticky;
  position: -webkit-sticky; 
  top: 0;
  z-index: 1000; 
  width: 100%;
  font: "Abril Fatface";
}
.home{
  margin-left: 45%;
  transform: translateX(-45%);
}
.mat-button {
  background-color: transparent;
  font-size: 100%;

}
.mat-mini-fab {
  background-color: #42c6ae;
  margin-block-end: 5%;
  margin: 1%;
}

.mat-raised-button:hover {
  background-color: #f8d2bf;
}
.mat-sidenav-content {
  background-color: white;
}
