<div fxLayout="column" fxLayoutAlign="center">
  <div fxLayoutAlign="space-around center">
    <mat-card class="cerca-de-mi">
      <mat-card-header>
        <mat-card-title>Cerca de mí</mat-card-title>
        <mat-card-subtitle> Selecciona un tipo de negocio</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-select placeholder="Tipo de negocio" (selectionChange)="onSelect($event.value)">
          <mat-option value="">Todos</mat-option>
          <mat-option value="HAIRDRESSER">Peluquería</mat-option>
          <mat-option value="RESTAURANT">Bar/Restaurante</mat-option>
          <mat-option value="GENERAL">Otros</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="2%">
    <mat-card class="negocio" *ngFor="let negocio of negocios">
      <button mat-mini-fab routerLink="/negocio/{{negocio.id}}">Ver</button>
      <mat-card-header>
        <mat-card-title>{{negocio.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="negocio.businessType === 'HAIRDRESSER'"> Peluquería</mat-card-subtitle>
        <mat-card-subtitle *ngIf="negocio.businessType === 'RESTAURANT'"> Bar/Restaurante</mat-card-subtitle>
        <mat-card-subtitle *ngIf="negocio.businessType === 'GENERAL'"> Otros</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngFor="let servicio of negocio.services">
        <p>{{servicio.name}} - {{servicio.price}} €</p>
      </mat-card-content>
      <button mat-raised-button routerLink="/reservar/{{negocio.id}}">Reservar</button>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>