.cerca-de-mi {
  width: 200px;
  margin: 2%;
  border: solid #44917e;
  border-radius: 35px;
  background-color: #e2f1ef;
  float: right;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.negocio {
  width: 300px;
  min-height: 300px;
  margin: 2%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
}

.card-header {
  background-color: #f2e6ee;
}

.card-content {
  margin-top: 10px;
  background-color: #f2e6ee;
}

.mat-mini-fab {
  float: right;
  background-color: #8499b1;
}
.mat-raised-button {
  margin-left: 30%;
  background-color: #a3dcb9;
  position: absolute;
  bottom: 5%;
}
