<div class="container">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Aforo</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let negocio of negocios">
          <td>{{ negocio.id }}</td>
          <td>{{ negocio.nombre }}</td>
          <td>{{ negocio.direccion }}</td>
          <td>{{ negocio.aforo }}</td>
        </tr>
      </tbody>
    </table>
  </div>