<div style="padding-left: 5%; padding-top: 1%;">
    <h2>Perfil de usuario</h2>
    <div style="padding-left: 1%; padding-top: 1%;">
        <h4>Datos</h4>
            <div class="row" style="padding-top: 1%;">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre de usuario</th>
                                <th>Contraseña</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Correo Electrónico</th>
                                <th>Dni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td>{{usuario.username}}</td>
                                <td>{{usuario.password}}</td>
                                <td>{{usuario.name}}</td>
                                <td>{{usuario.lastname}}</td>
                                <td>{{usuario.email}}</td>
                                <td>{{usuario.dni}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

  
<div>
    <mat-table *ngFor="let usuario of usuarios">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
            <mat-cell *matCellDef="let row">{{usuario.username}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="password">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{usuario.password}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let row">{{usuario.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
            <mat-cell *matCellDef="let row">{{usuario.lastname}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let row">{{usuario.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
            <mat-cell *matCellDef="let row">{{usuario.dni}}</mat-cell>
        </ng-container>
    </mat-table>

</div>
  
  