
<mat-toolbar class="titulo-pagina">
    <span> Perfil de usuario</span>
    <span class="spacer"></span>

</mat-toolbar>

<div class="main-div" *ngFor="let attribute of usuario">
    <mat-card class="card" >
        <mat-card-header>
            <div mat-card-avatar>
                <img src="./assets/avatar.png" class="header-image">
            </div>
            <mat-card-title>{{attribute.username}}</mat-card-title>
            <mat-card-subtitle>{{attribute.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Nombre: {{attribute.name}}</p>
            <p>Apellidos: {{attribute.lastname}}</p>
            <p>DNI: {{attribute.dni}}</p>
            <p>Email: {{attribute.email}}</p>    
            <mat-card-actions>
                <button mat-raised-button>Editar</button>
            </mat-card-actions>     
        </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>