<form class="example-form" [formGroup]="form" (ngSubmit)="save()" *ngIf="(negocio$ | async) as negocio">
    <mat-card class="reserva">
      <div class="card-header">
        <mat-card-header>
          <mat-card-title>Reserva en {{negocio.name}}</mat-card-title>
          <img mat-card-avatar src="./favicon.ico" alt={{negocio.name}}>
          <mat-card-subtitle>Dirección: {{negocio.address}}</mat-card-subtitle>
          <div class="time">
            <mat-card-subtitle>Abre: {{negocio.openTime | slice : 0:5}}</mat-card-subtitle>
            <mat-card-subtitle>Cierra: {{negocio.closeTime | slice : 0:5}}</mat-card-subtitle>
            <input type="hidden" formControlName="openTime">
            <input type="hidden" formControlName="closeTime">
          </div>
        </mat-card-header>
      </div>
      <div class="card-content">
        <mat-card-content>
          <br>
          <mat-label><b>Fecha:</b></mat-label>
          &nbsp;
          <kendo-datetimepicker formControlName="bookDate" required [readOnlyInput]=true [format]="format"
            [(value)]="value" [min]="minDate" placeholder="día/mes/año hora:minuto"
            (valueChange)="hideOrShowPaymentForm()">
          </kendo-datetimepicker>
          <mat-error *ngIf="form.hasError('invalidBookDate')">La hora seleccionada para la reserva está fuera del
            horario de apertura del establecimiento</mat-error>
          <br>
          <mat-divider></mat-divider>
          <div formArrayName="services">
            <br>
            <div *ngFor="let servicio of serviceArray.controls; index as i" [formGroupName]="i">
              <mat-form-field class="example-full-width">
                <mat-label>Servicio</mat-label>
                <mat-select id="select-service" formControlName="id" (selectionChange)="pagoTotal($event.value)">
                  <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">{{servicio.name}} -
                    {{servicio.price}} €</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <br>
          <span><b>Fianza de la reserva:</b> {{pago}} €</span><br>
          <div id="formulario-pago" style="display: none;">
            <app-payment nombre="{{nombre}}" precio="{{pago}}" descripcion="{{description}}" bookDate="{{bookDate}}"
              emisionDate="{{emisionDate}}" status="{{status}}" servicio="{{servicioId}}"
              openTime="{{negocio.openTime}}" closeTime="{{negocio.closeTime}}">
            </app-payment>
          </div>
          <div  fxLayoutAlign="space-around center">
            <button id="boton-reservar" style="display: none;" type="submit" mat-raised-button color="primary"
              [disabled]="form.invalid" (click)="fechaActual(form)">Reservar</button>
            <button type="button" mat-raised-button routerLink="/home" style="margin: 2%;">Cancelar</button>
          </div>
          
        </mat-card-content>
      </div>
    </mat-card>
  </form>
<!--<div>
  <div class="flex-container" *ngIf="(negocio$ | async) as negocio">
    <form class="example-form" [formGroup]="form" (ngSubmit)="save()">
      <mat-card class="reserva">
        <div class="card-header">
          <mat-card-header>
            <mat-card-title>Reserva en {{negocio.name}}</mat-card-title>
            <img mat-card-avatar src="./favicon.ico" alt={{negocio.name}}>
            <mat-card-subtitle>Dirección: {{negocio.address}}</mat-card-subtitle>
            <div class="time">
              <mat-card-subtitle>Abre: {{negocio.openTime | slice : 0:5}}</mat-card-subtitle>
              <mat-card-subtitle>Cierra: {{negocio.closeTime | slice : 0:5}}</mat-card-subtitle>
              <input type="hidden" formControlName="openTime">
              <input type="hidden" formControlName="closeTime">
            </div>
          </mat-card-header>
        </div>
        <div class="card-content">
          <mat-card-content>
            <br>
            <mat-label><b>Fecha:</b></mat-label>
            &nbsp;
            <kendo-datetimepicker formControlName="bookDate" required [readOnlyInput]=true [format]="format"
              [(value)]="value" [min]="minDate" placeholder="día/mes/año hora:minuto" (valueChange)="hideOrShowPaymentForm()">
            </kendo-datetimepicker>
            <mat-error *ngIf="form.hasError('invalidBookDate')">La hora seleccionada para la reserva está fuera del
              horario de apertura del establecimiento</mat-error>
            <br>
            <mat-divider></mat-divider>
            <div formArrayName="services">
              <br>
              <div *ngFor="let servicio of serviceArray.controls; index as i" [formGroupName]="i">
                <mat-form-field class="example-full-width">
                  <mat-label>Servicio</mat-label>
                  <mat-select id="select-service" formControlName="id" (selectionChange)="pagoTotal($event.value)">
                    <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">{{servicio.name}} -
                      {{servicio.price}} €</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <br>
            <span><b>Fianza de la reserva:</b> {{pago}} €</span><br>
            <div id="formulario-pago" style="display: none;">
              <app-payment nombre="{{nombre}}" precio="{{pago}}" descripcion="{{description}}" bookDate="{{bookDate}}"
                emisionDate="{{emisionDate}}" status="{{status}}" servicio="{{servicioId}}" openTime="{{negocio.openTime}}" closeTime="{{negocio.closeTime}}">
              </app-payment>
            </div>
            <button id="boton-reservar" style="display: none;" type="submit" mat-raised-button color="primary" [disabled]="form.invalid"
              (click)="fechaActual(form)">Reservar</button>
            <button type="button" mat-raised-button routerLink="/home" style="margin: 2%;">Cancelar</button>
            <mat-error *ngIf="err">{{err}}</mat-error>
          </mat-card-content>
        </div>
      </mat-card>
    </form>
  </div>
</div>-->
