.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.reserva {
  width: 600px;
  margin: 5%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
}
.example-form {
    width: 60%;
    max-width: 60%;
    padding: 2% 2%;
    box-sizing: border-box;
    margin-top: 2%;
    border-radius: 20px;
  }
.example-full-width {
    width: 100%;
    box-sizing: border-box;
  }

.mat-raised-button {
  background-color: #a3dcb9;
  bottom: 5%;
}
.card-header {
  background-color: #f2e6ee;
}

.card-content {
  background-color: #f2e6ee;
}
