<form class="example-form" [formGroup]="form" (ngSubmit)="save()">
  <h2 style="text-align: center;">Nueva reserva</h2>
  <div>
    <mat-label>Fecha:</mat-label>
    &nbsp;
    <kendo-datetimepicker formControlName="bookDate" required [readOnlyInput]=true [format]="format" [(value)]="minDate"
      [min]="minDate">
    </kendo-datetimepicker>
  </div>
  <br>
  <mat-divider></mat-divider>
  <br>
  <div formArrayName="services">
    <h4>Servicios</h4>

    <div *ngFor="let servicio of serviceArray.controls; index as i" [formGroupName]="i">
      <mat-form-field class="example-full-width">
        <mat-label>Servicio</mat-label>
        <mat-select formControlName="id" (selectionChange)="pagoTotal($event.value)">
          <mat-option *ngFor="let servicio of negocio.services" [value]="servicio.id">{{servicio.name}} -
            {{servicio.price}} €</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <br>
  <span>Fianza de la reserva: {{pago}} €</span><br>
  <div id="formulario-pago" style="display: none;">
    <app-payment nombre="{{nombre}}" precio="{{pago}}" descripcion="{{description}}" bookDate="{{bookDate}}"
      emisionDate="{{emisionDate}}" status="{{status}}" servicio="{{servicioId}}"></app-payment>
  </div>
  <button id="boton-reservar" style="display: none;" type="submit" mat-raised-button color="primary"
    [disabled]="form.invalid" (click)="fechaActual(form)">Reservar</button>
</form>
