<div fxLayout="column" fxLayoutAlign="center">
  <div fxLayoutAlign="space-around center" class="flex-container">
    <div *ngIf="(negocio$ | async) as negocio">
      <mat-card class="negocio">

        <div class="card-header">
          <mat-card-header>
            <mat-card-title>Editar negocio</mat-card-title>
          </mat-card-header>
        </div>
        <div class="card-content">
          <mat-card-content>
            <app-subir-imagen [negocio_id]="negocio.id"></app-subir-imagen>
            <form class="example-form" [formGroup]="form" (ngSubmit)="save()">
              <div>
                <h3>Datos negocio</h3>
                <mat-form-field class="example-full-width" required>
                  <mat-label>Nombre negocio</mat-label>
                  <input matInput placeholder="Introduzca el nombre de su negocio" formControlName="name">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width" required>
                  <mat-label>Dirección negocio</mat-label>
                  <input matInput placeholder="Introduzca la dirección de su negocio" formControlName="address">
                </mat-form-field>

<!--                 
              <div class="24hr-example">
                <mat-label>Hora de apertura</mat-label>&nbsp;
                 <input placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24">
                <ngx-material-timepicker #fullTime formControlName="openTime"></ngx-material-timepicker>
              </div>
              <br>
              <div class="24hr-example">
                <mat-label>Hora de cierre</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTime2" [format]="24">
                <ngx-material-timepicker #fullTime2 formControlName="closeTime"></ngx-material-timepicker>
              </div>
            -->
                <mat-form-field class="example-full-width" required>
                  <mat-label><b>Tipo negocio</b></mat-label>
                  <mat-select formControlName="businessType" [(value)]="negocio.businessType">
                    <mat-option value="RESTAURANT">Bar/Restaurante</mat-option>
                    <mat-option value="HAIRDRESSER">Peluquería</mat-option>
                    <mat-option value="GENERAL">Otros</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <mat-label><b>Hora de apertura</b></mat-label>&nbsp;
              <kendo-timepicker formControlName="openTime" [(value)]="value1" [format]="format" [incompleteDateValidation]="true"></kendo-timepicker>
              <br>
              <br>
              <mat-label><b>Hora de cierre</b></mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <kendo-timepicker formControlName="closeTime" [(value)]="value2" [format]="format" [incompleteDateValidation]="true"></kendo-timepicker>
              
              <div formGroupName="option">
                <br>
                <h3>Opciones negocio</h3>
                <mat-checkbox (change)="disable()" class="example-margin" formControlName="automatedAccept">Aceptación
                  automática
                </mat-checkbox>

                <mat-form-field class="example-full-width">
                  <mat-label>Límite de reservas automáticas (valor entre 0-99+)</mat-label>
                  <input matInput type="number" placeholder="Seleccione el número de reservas automáticas"
                    formControlName="gas">
                </mat-form-field>

               <!-- <mat-form-field class="example-full-width">
                  <mat-label>Fianza de reserva (valor entre 0-1)</mat-label>
                  <input matInput type="number"
                    placeholder="Introduzca la fianza por reservas para todos los servicios (0-1)"
                    formControlName="defaultDeposit">
                </mat-form-field>-->

                <mat-form-field class="example-full-width">
                  <mat-label>Tiempo de cancelación gratuita (valor en días) </mat-label>
                  <input matInput type="number"
                    placeholder="Introduzca el número de días para que la cancelación sea gratuitas"
                    formControlName="depositTimeLimit">
                </mat-form-field>


              </div>
              <mat-error *ngIf="err">{{err}}</mat-error>
              <div fxLayoutAlign="space-around center">
                <button type="button" mat-raised-button (click)="editServices()">Editar Servicios</button>
                <button type="submit" mat-raised-button [disabled]="form.invalid">Guardar</button>
              </div>


            </form>
          </mat-card-content>
        </div>

      </mat-card>


    </div>
  </div>
</div>
