<form class="example-form" [formGroup]="form" style="padding-left: 5%; padding-top: 1%;" (ngSubmit)="save()">
  <div>
    <p>Imagen del Negocio:</p>
    <img mat-card-image src="{{negocio.foto}}" alt="Imagen">
  </div>
  <br>
  <mat-form-field class="example-full-width" required>
    <mat-label>Nombre del Negocio</mat-label>
    <input matInput placeholder="Introduzca el nombre de su Negocio" formControlName="nombre">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" required>
    <mat-label>Direccion del Negocio</mat-label>
    <input formControlName="direccion" matInput placeholder="Introduzca la direccion de su Negocio">
  </mat-form-field>
  <br>
  <mat-form-field required>
    <mat-label>Tipo de Negocio</mat-label>
    <mat-select formControlName="tipo" [(value)]="selected">
      <mat-option value="bar">Bar</mat-option>
      <mat-option value="peluqueria">Peluqueria</mat-option>
      <mat-option value="otros">Otros</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Horario de apertura</mat-label>
    <input formControlName="horario_apertura" matInput placeholder="Introduzca el horario de apertura de su Negocio">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Horario de cierre</mat-label>
    <input formControlName="horario_cierre" matInput placeholder="Introduzca el horario de cierre de su Negocio">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Aforo</mat-label>
    <input formControlName="aforo" matInput placeholder="Introduzca el aforo de su Negocio">
  </mat-form-field>
  <br>
  <button type="submit" [disabled]="form.invalid">Guardar</button>
</form>
