.flex-container {
  display: grid;
  place-items: center;
}
.negocio {
  width: 60%;
  min-width: 300px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
}
.example-form {
  width: 90%;
  max-width: 90%;
  padding: 2% 2%;
  box-sizing: border-box;
  margin-top: 2%;
  border-radius: 20px;
}
.example-full-width {
  width: 100%;
  box-sizing: border-box;
}
.card-header {
  background-color: #f2e6ee;
}

.card-content {
  background-color: #f2e6ee;
}
.card-content mat-card-content {
  display: grid;
  place-items: center;
}

.mat-raised-button {
  background-color: #a3dcb9;
  bottom: 5%;
}
