:host {
    display: flex;
    justify-content: center;
    margin: 20vw 0vw;
  }

  .mat-form-field {
    width: 100%;
    min-width: 40vw;
    font-size: 1.5vw;
  }
.mat-card-title{
    display: flex;
    justify-content: center;
    font-size: 2vw;
  }
.mat-raised-button{
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 1vw;
  justify-content: center;
  background-color: #6BC78E;
}
