.login {
  margin: 10%;
  width: 50%;
  background-color: #fbe5da;
}

.mat-form-field {
  width: 100%;
}
.mat-card-title {
  display: flex;
  justify-content: center;
}
.mat-raised-button {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #a3dcb9;
}
