<div>
  <mat-grid-list cols="6" *ngIf="(negocio$ | async) as negocio">

    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"></mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'lightgreen'">
      <mat-card>

        <mat-card-header>
          <img mat-card-avatar src="./favicon.ico" alt={{negocio.name}}>
          <mat-card-title>{{negocio.name}}</mat-card-title>
          <mat-card-subtitle>{{negocio.address}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p><b>Tipo de negocio:</b>{{negocio.businessType}}</p>
        </mat-card-content>
      </mat-card>



    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"></mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="5" [style.background]="'red'">
      <div>
        <div>
          <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
            <mat-card class="service">
              <mat-card-header>
                <mat-card-title>Mountains {{num}}</mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <p>
                  The Himalayas is a mountain range in Asia.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<router-outlet></router-outlet>