<div>
  <mat-grid-list cols="6" *ngIf="(negocio$ | async) as negocio">
    <mat-grid-tile [colspan]="1" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="./favicon.ico" alt={{negocio.name}}>
          <mat-card-title>{{negocio.name}}</mat-card-title>
          <mat-card-subtitle>{{negocio.address}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><b>Tipo de negocio:</b>{{negocio.businessType}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="4">
      <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let servicio of negocio.services">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Nombre: {{servicio.name}}</mat-card-title>
                <mat-card-subtitle>Precio: {{servicio.price}} €</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p><b>Descripción: </b></p>
                <p>{{servicio.description}}</p>
                <p><b>Duración: </b>{{servicio.duration}} horas</p>
                <p><b>Aforo:</b> {{servicio.capacity}} personas</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button routerLink="/negocio-edit/{{negocioId}}">Editar Negocio</button>
</div>
<router-outlet></router-outlet>
