

.content {
  padding: 3%;
  align-self: flex-start;
}
.mat-grid-list{
  margin-top: 5vh;
}

.mat-card {
  width: 100%;
  max-height: 100%;
  font-size: 15vw;

}

.mat-card-title{
  font-size: 1.5vw;
}
.mat-card-subtitle{
  font-size: 1vw;
}
.mat-card-content{
  font-size: .75vw;
} 
