<div *ngIf="(negocio$ | async) as negocio">
    <form class="example-form" [formGroup]="form" (ngSubmit)="save()">
        <h2 style="text-align: center;">Nueva reserva</h2>
        <mat-label>Abre: {{negocio.openTime}}</mat-label><br>
        <mat-label>Cierra: {{negocio.closeTime}}</mat-label>
        <input type="hidden" formControlName="openTime">
        <input type="hidden" formControlName="closeTime">
        <hr>
        <div>
            <mat-label>Fecha:</mat-label>
            &nbsp;
            <kendo-datetimepicker formControlName="bookDate" required [readOnlyInput]=true [format]="format" [(value)]="value"
                [min]="minDate">
            </kendo-datetimepicker>
        </div>
        <mat-error *ngIf="form.hasError('invalidBookDate')">La hora seleccionada para la reserva está fuera del horario de apertura
        del establecimiento</mat-error>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div formArrayName="services">
            <h4>Servicios</h4>
            <div *ngFor="let servicio of serviceArray.controls; index as i" [formGroupName]="i">
                <mat-form-field class="example-full-width">
                    <mat-label>Servicio</mat-label>
                    <mat-select formControlName="id" (selectionChange)="pagoTotal($event.value)">
                        <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">{{servicio.name}} -
                        {{servicio.price}} €</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <h4>Cliente</h4>
        <ng-autocomplete
            [data]="consumers$ | async"
            [searchKeyword]="keyword"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            placeholder="Selecciona un cliente de la lista, puedes filtrar por su nombre para encontrarlo rápidamente"
            formControlName="consumer">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
            <a [innerHTML]="[item.name, item.lastname]"></a>
        </ng-template>
            
        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>
        <!-- <mat-select>
            <mat-option *ngFor="let consumer of consumers" value="{{consumer.id}}">
                {{consumer.name}} {{consumer.lastname}}
            </mat-option>
        </mat-select> -->
        <br>
        <button id="boton-reservar" type="submit" mat-raised-button color="primary"
        [disabled]="form.invalid" (click)="fechaActual(form)">Reservar</button>
    </form>
</div>
