<div>
    <mat-grid-list cols="6" *ngIf="(consumer$ | async) as consumer">
        <mat-grid-tile [colspan]="1" [rowspan]="3"></mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="2">
            <mat-card class="usuario">
                <mat-card-header>
                    <img mat-card-avatar src="./favicon.ico">
                    <mat-card-title>Usuario: {{consumer.user.username}}</mat-card-title>
                    <mat-card-subtitle>{{consumer.email}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><b>Nombre:</b> {{consumer.name}}</p>
                    <p><b>Apellidos:</b> {{consumer.lastname}}</p>
                    <p><b>DNI:</b> {{consumer.dni}}</p>
                    <p><b>Email:</b> {{consumer.email}}</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2"></mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="10">
            <div class="content">
                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                    <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
                        *ngFor="let booking of consumer.bookings">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Servicio: {{booking.id}}</mat-card-title>
                                <mat-card-subtitle *ngIf="booking.status === 'IN_PROGRESS'"> Pendiente de aprobación
                                </mat-card-subtitle>
                                <mat-card-subtitle *ngIf="booking.status === 'COMPLETED'"> Aprobada</mat-card-subtitle>
                                <mat-card-subtitle *ngIf="booking.status === 'CANCELLED'"> Cancelado</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{booking.bookDate | date:'dd-MM-yyyy hh:mm'}}</p>
                                <p></p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>
<router-outlet></router-outlet>