<div fxLayout="column" fxLayoutAlign="center">
    <div fxLayoutAlign="space-around center" class="flex-container">
    <mat-card  class = "perfil" *ngIf=" (consumer$ | async) as consumer">
        <div class="card-header">
    
        <mat-card-header>
            <img mat-card-avatar src="./favicon.ico">
            <mat-card-title>Usuario: {{consumer.user.username}}</mat-card-title>
            <mat-card-subtitle>{{consumer.email}}</mat-card-subtitle>
        </mat-card-header>
   
    </div>
<div class="card-content">
        <mat-card-content>
            <p><b>Nombre:</b> {{consumer.name}}</p>
            <p><b>Apellidos:</b> {{consumer.lastname}}</p>
            <p><b>DNI:</b> {{consumer.dni}}</p>
            <p><b>Email:</b> {{consumer.email}}</p>
        </mat-card-content>
</div>
    </mat-card>
</div>
</div>
<router-outlet></router-outlet>