<mat-toolbar class="titulo-pagina">
    <span routerLink="/perfil" style="margin-left: 20px;">Perfil de usuario</span>
    <span class="spacer"></span>
</mat-toolbar>

<div class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <img src="./assets/avatar.png" class="header-image">
            </div>
            <mat-card-title>María Jesús Cadenas Sánchez</mat-card-title>
            <mat-card-subtitle>mariajesuscadenas@hotmail.com</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Nombre: María Jesús</p>
            <p>Apellidos: Cadenas Sánchez</p>
            <p>DNI: 12345678-R</p>
            <p>Email: mariajesuscadenas@hotmail.com</p>    
            <mat-card-actions>
                <button mat-raised-button>Guardar</button>
                <button mat-raised-button>Cancelar</button>
              </mat-card-actions>     
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Negocios</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Negocio 1</p>
        </mat-card-content> 

    </mat-card>
</div>

<router-outlet></router-outlet>
