input {
  border-style: dashed;
  border-radius: 25px;
  border-color: rgb(65, 63, 63);
  border-width: 5px;
  background-color: rgb(148, 148, 148);
  height: 50px;
  width: 100%;
  text-align: center;
  padding-top: 1%;
}

.carrusel {
  display: inline-block;
  align-items: center;
}

img {
  width: 70px;
  height: 70px;
}

.preview {
  width: 100%;
  text-align: center;
}

h3 {
  padding: 1%;
}

.deletePhoto button {
  margin-left: 5%;
}

.mat-raised-button {
  background-color: #a3dcb9;
  margin-top: 3%;
  bottom: 5%;
}
