<input type="file" id="file" (change)="onFileSelected($event)">
<br>
<label for="">Preview</label>
<div *ngFor="let foto of imagenPrevia, let i = index">

  <div>
    <img width="100px" [src]="foto" alt="i">
    <button mat-mini-fab (click)="removeFoto(i)">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="!buss">
  <button [disabled]="loading" (click)="loadProfileImage()">

    {{(loading) ? 'Cargando...' : 'Subir'}}
  </button>
</div>

<div *ngIf="buss">
  <button [disabled]="loading" (click)="loadBusinessImage()">

    {{(loading) ? 'Cargando...' : 'Subir'}}
  </button>
</div>
