<input type="file" id="file" (change)="onFileSelected($event)">
<div *ngIf="buss">
  <div class="preview">
    <h3>Vista previa</h3>
    <div *ngIf="imagenPrevia.length <= 0">
      <b>No tiene ninguna foto seleccionada.</b>
      <br>
      <b>Si pulsa el botón subir, su negocio no tendrá
        fotos para mostrar.</b>
      <br>
    </div>
    <div *ngFor="let foto of imagenPrevia, let i = index" class="carrusel">
      <div class="deletePhoto">
        <img mat-card-avatar [src]="foto" alt="i">
        <button mat-mini-fab (click)="removeFoto(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <button mat-raised-button [disabled]="loading" (click)="loadBusinessImage()">

      {{(loading) ? 'Cargando...' : 'Subir'}}
    </button>

  </div>
</div>

<div *ngIf="!buss">
  <div class="preview" *ngIf="profilePrevia !== null">
    <h3>Vista previa</h3>
    <div class="carrusel">

      <div class="deletePhoto">
        <img mat-card-avatar [src]="profilePrevia" alt="">
      </div>
      <button mat-raised-button [disabled]="loading" (click)="loadProfileImage()">

        {{(loading) ? 'Cargando...' : 'Subir'}}
      </button>
    </div>
  </div>
  <mat-hint *ngIf="error">{{error}}</mat-hint>
</div>