<div fxLayout="column" fxLayoutAlign="center">
    <div fxLayoutAlign="space-around center">
        <mat-card class="busqueda">
            <mat-card-content>
                <mat-form-field >
                    <input matInput type="text" id="buscador" name="filterCommercePost" 
                        placeholder=  " Introduce el negocio, tipo , o el servicio que buscas"
                        [(ngModel)]="filterCommercePost"><mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                
            </mat-card-content>
        </mat-card>
    </div>

    <div id="tabla-buscador">
        <div fxLayoutAlign="space-around"  class="flex-container">
            <mat-card class="negocio" *ngFor="let negocio of negocios | filterCommerce: filterCommercePost">

                <div class="card-header">
                    <button mat-mini-fab routerLink="/negocio/{{negocio.id}}">
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <mat-card-header>
                      <mat-card-title>{{negocio.name}}</mat-card-title>
                      <mat-card-subtitle *ngIf="negocio.businessType === 'HAIRDRESSER'"> Peluquería</mat-card-subtitle>
                      <mat-card-subtitle *ngIf="negocio.businessType === 'RESTAURANT'"> Bar/Restaurante</mat-card-subtitle>
                      <mat-card-subtitle *ngIf="negocio.businessType === 'GENERAL'"> Otros</mat-card-subtitle>
                    </mat-card-header>
                  </div>

                <div class="card-content">
                    <mat-card-content *ngFor="let servicio of negocio.services">
                      <div style="display: flex; flex-flow: row wrap;">
                        <h3 style="margin-top: auto; margin-bottom: auto; margin-left: 2%;">{{servicio.name}}</h3>
                        <h3 style="margin-top: auto; margin-bottom: auto; position: absolute; right: 7%; font-weight: bold;">{{servicio.price}} €</h3>
                      </div>
                    </mat-card-content>
                  </div>
                        <div>
                            <button mat-raised-button routerLink="/reservar/{{negocio.id}}">Reservar</button>
                        </div>
            </mat-card>
        </div>
    </div>
</div>
<router-outlet></router-outlet>