<h2 mat-dialog-title>Términos y condiciones</h2>
<mat-dialog-content>
  <p>Al registrarse en esta plataforma se compromete a ceder al equipo de BiCo sus datos personales (DNI, nombre, y
    apellidos) para poder identificarle de forma única e inequívoca en nuestro sistema, así como que sea identificado
    por
    los negocios en los que realiza la reserva y con los que interactúe. Le pedimos también, un nombre de usuario y una
    contraseña con el objetivo de realizar una autenticación íntegra en el sistema.
    <br>
    <br>
    En caso de ser propietario de un
    negocio, los datos que solicitamos conocer de su negocio son el nombre, la dirección y el horario de apertura. El
    resto
    de datos, como las opciones de personalización de su negocio (Fianza, servicios, aceptación automática) pertenecen a
    BiCo aunque podrán ser modificados o borrados en cualquier momento por parte del propietario de la cuenta en la que
    se
    encuentren.
    <br>
    <br>
    En toda la plataforma se utiliza de forma segura HTTPs, y sus datos de pago nunca son guardados, siendo utilizados a
    través de una plataforma segura. Si desea obtener más información sobre dicha plataforma, puede visitar
    <a href="https://stripe.com.">Stripe.</a>
    Además, le pedimos su correo electrónico para que, cumpliendo con la ley de protección de datos GDPR, podamos
    notificarle en caso de brecha de seguridad en nuestro sistema.
  </p>
</mat-dialog-content>
