<br>
<form novalidate (ngSubmit)="buy()" [formGroup]="stripeForm" #f="ngForm">
    <mat-form-field class="form-group">
        <input matInput class="form-control" type="text" id="name" formControlName="name" placeholder="Tu nombre" required>
    </mat-form-field>

    <div id="card-element" class="field"></div>
    <div *ngIf="error" class="alert alert-danger">
        {{error}}
    </div>
    <br>
    <div style="text-align: center;"> 
        <button class="btn btn-outline-success" type="submit" [disabled]="!f.valid || loading">
            {{(loading) ? 'Cargando...' : 'Pagar'}}
        </button>
    </div>
</form>
