.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.calendario {
  width: 470px;
  margin: 5%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
}

.reserva {
  width: 350px;
  margin: 5%;
  border-bottom: solid #44917e;
  background-color: #f2e6ee;
  position: relative;
}

.card-header {
  background-color: #f2e6ee;
}

.card-content {
  margin-top: 10px;
  background-color: #f2e6ee;
}

.mat-mini-fab {
  float: right;
  background-color: #8499b1;
  margin: 1%;
}

.meeting {
  position: relative;
  color: #00a1e8;
}

.meeting:after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 3px;
  height: 3px;
  margin-left: -1.5px;
  content: "";
  border-radius: 50%;
  background-color: #00a1e8;
}

.k-state-selected .meeting {
  color: #fff;
}

.k-state-selected .meeting:after {
  background-color: #fff;
}

.weeknumber-cell {
  color: red;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}